/* RESET STYLES */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {  
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; 
}

body {
	font: normal 16px/1.3em 'Roboto', sans-serif;
}

header {
	background-color: 	#FFF0F5;
	min-height: 100%;
	padding: 40px 0;
	text-transform: uppercase;
	margin-bottom: 15px;
}


.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.grid-block {
	display: grid;
	grid-column-gap: 15px;
}

.grid-2-columns {
	grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
	grid-template-columns: 1fr 1fr 1fr; 
}

.grid-4-columns {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.exercise {
	background-color: #f7f7f7;
	padding: 15px;
	min-height: 150px;
}

.exercise h2 {
	font-size: 20px;
	padding-bottom: 30px;
	text-transform: uppercase;
}

li {
	list-style-type: none;
	padding: 10px;
	margin-bottom: 15px;
	width: 100%;
	background-color: #f7f7f7;
}

li a,
li a:focus,
li a:active,
li a:visited {
	color: #000;
	text-decoration: none;
}

li a:hover {
	color: #999;
}

.second-level-menu { 
	background-color: #ccc;
	padding: 5px; 		
	margin: 10px 0;
	color: #fff;
	font-weight: bold;
}

#type-writer {
	min-height: 50px;
	}
	
#url {
	margin-top: 15px;
	padding: 10px 20px;
}

#url,
button {
	background-color: #000;
	color: #fff;
}
button {
	height: 40px;
	padding: 10px 20px;
	border: 1px solid #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
}

button,
.game img {
	transition: 1s ease-in-out ;
}
.game img {
	margin: 20px 0;
	width: auto;
	height: 200px;
}
button:hover,
button:focus,
button:active {
	background-color: #fff;
	color: #000
}

.form__item, .error {
	display: block;
}
.error {
	font-size: 12px;
	color: red;
	border: 1px solid red;
	padding: 10px;
	min-height: 20px;
}
.not-valid {
	border: 1px solid red;
}